

html {
    height: 100%;
}

body {
    background: #000;
    color: #999;
    height: 100%;
    overflow: hidden;
}

a {
    color: #bebe72;
}

.btn:hover, a:hover {
    color: #e8e46b;
    text-decoration: none;
}

#splash h1 {
    font-size: 3em;
    margin: 0 0 5px;
    text-transform: uppercase;
}

h1 {
    font-size: 1.8em;
    margin: 0 0 5px;
    text-transform: uppercase;
}

h2 {
    font-size: 1em;
    margin: 0 0 5px;
    text-transform: uppercase;
    font-weight: normal;
}

p {
    font-size: 1em;
    margin: 0 0 20px;
}

#info-btn {
    position: absolute;
    z-index: 20;
    top: 1.5em;
    left: 1.5em;
    width: 60px;
    height: 40px;
    cursor: pointer;
    opacity: 0.5;
}

#game-change-btn {
    position: absolute;
    z-index: 20;
    top: 1.5em;
    right: 1.5em;
    width: 60px;
    height: 40px;
    cursor: pointer;
    opacity: 0.5;
}

#splash {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 120px;
    width: 320px;
    pointer-events: none;
}

#info {
    width: 340px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -340px;
    background-color: #232323;
    z-index: 30;
    padding: 2em;
}

